- user    = User.find(@receiver_id)
- friends = @users
- provide(:title, user.name)

%ul.users-container
  %li.friends-header
    %h2
      = "#{user.first_name}'s friends"
      %span= "#{friends.count}"

  = render friends, is_index: @is_index

  - if friends.empty?
    %li.empty-list= no_friend_profile_message(user)

= will_paginate @users
