:plain
  Welcome to Odinbook
  ===================


  Hey #{@user.first_name}, we are very excited that you joined Odinbook.

  We invite you to first fill out your profile here: #{edit_profile_url(@user.profile)} .  Please note the privacy settings in your profile and indicate who you want to share your information with as well as whether you wish to receive emails about notifications like friend requests.

  You can then go find some friends here: #{find_friends_url(@user)} or visit your newsfeed here: #{newsfeed_url(@user)} or visit your timeline here: #{timeline_url(@user)}
  to share or view posts and comments with friends or everyone.

  Thanks again for joining and we hope you enjoy using Odinbook :-)


  Best regards,
  The Odinbook Team
