- commenter = comment.commenter
.comment-container
  .comment-details
    / = link_to timeline_path(commenter) do
    = link_to users_path do
      = image_for(commenter, options = { img_class: "sm-img"})
    .info
      / = link_to "#{commenter.name}", timeline_path(commenter)
      = link_to "#{commenter.name}"
      %p= comment.content

      %p
        = format_datetime(comment.created_at)

        %span.dot= "."
        %span.comment-like
          = render "likes/like_link", likeable_id: comment.id, likeable_type: "Comment"
          
        - likes = comment.likes.count
        - if likes > 0
          %span.dot= "."
          = "#{pluralize(likes, 'like')}"
