-# unless user == current_user
%li.user-container
  .user-img>
    = link_to timeline_path(user) do
      = image_for(user, {img_class: "lg-img"} )

  .user-info
    .user-name
      = link_to "#{user.name}", timeline_path(user)

    .friend-status{id: "friend-status-#{user.id}"}
      = friend_status_of(user, is_index)
