= render "header"

%ul.users-container
  %li.users-header
    %h1= @title
    %nav
      %ul
        %li= link_to "All Users", users_path
        %li
          = link_to "Friends", friends_path(current_user)
          %span{id: "friend-count"}= "(#{current_user.friends.count})"
        %li= link_to "Friend Requests", friend_requests_path(current_user)
        %li= link_to "Find Friends", find_friends_path(current_user)

  = render @users, is_index: @is_index
