- user = User.find(@receiver_id)
.timeline-container
  - if access_level?(user, :friend)
    = render template: 'posts/new'

  - if access_level?(user, :public)
    %ul{ id: "posts" }
      = render @posts
  - else
    %p.no-posts= "#{user.first_name} only shares #{user.genderize} profile and posts with friends"
    