- creator  = post.creator
- receiver = post.receiver
%li.post-container{ id: "post-#{post.id}"}
  .post-details
    - if access_level?(creator, :self) || access_level?(receiver, :self)
      = link_to post_path(post), method: :delete, class: "delete", remote: true do
        = image_tag("close.png", title: "Delete Post")

    = render "posts/post_top", creator: creator, receiver: receiver, post: post

    %p= post.content

    .post-like{ id: "post-#{post.id}-like" }
      = render "likes/like_link", likeable_id: post.id, likeable_type: "Post"
    %span.post-comment
      - if access_level?(creator, :friend) || access_level?(receiver, :friend)
        %span.dot= "."
        = link_to "Comment", "", class: "comment-focus", title: "Leave a comment"

  %div{ id: "post-#{post.id}-likers" }
    = render "posts/post_likers", post: post

  %ul.comment-list{ id: "post-#{post.id}-comments", class: "new" }
    - if post.comments.any?
      = render post.comments.order(created_at: :asc)

  - if access_level?(creator, :friend) || access_level?(receiver, :friend)
    = render template: "comments/new", locals: {post: post}
