- creator = post.creator
%li.post-container{ id: "post-#{post.id}"}
  .post-details
    - if current_user == post.creator || current_user == post.receiver
      = link_to post_path(post), method: :delete, class: "delete", remote: true do
        = image_tag("close.png", title: "Delete Post")
    .top
      / = link_to timeline_path(creator) do
      = link_to users_path do
        = image_for(creator, options = { img_class: "md-img"})
      .info
        .poster
          / = link_to "#{creator.name}", timeline_path(creator)
          = link_to "#{creator.name}"
          - unless creator == post.receiver
            %span
              &gt;
            / = link_to "#{post.receiver.name}",timeline_path(post.receiver.name)
            = link_to "#{post.receiver.name}"

        = format_datetime(post.created_at)

    %p= post.content

    .post-like{ id: "post-#{post.id}-like" }
      = render "likes/like_link", likeable_id: post.id, likeable_type: "Post"

  %div{ id: "post-#{post.id}-likers" }
    = render "posts/post_likers", post: post

  - if post.comments.any?
    %ul.comment-list{ id: "post-#{post.id}-comments"}
      = render post.comments.order(created_at: :asc)

  - if current_user == post.creator || current_user == post.receiver || current_user.friends_with?(post.creator) || current_user.friends_with?(post.receiver)
    = render template: "comments/new", locals: {post: post}
