.top
  = link_to timeline_path(creator) do
    = image_for(creator, options = { img_class: "md-img"})
  .info
    .poster
      = link_to "#{creator.name}", timeline_path(creator)
      - unless creator == receiver
        %span
          &gt;
        = link_to "#{receiver.name}", timeline_path(receiver)

    = format_datetime(post.created_at)
    