- creator = post.creator
.post-container
  .post-details
    - if current_user == post.creator || current_user == post.receiver
      = link_to post_path(post), method: :delete, class: "delete" do
        = image_tag("close.png", class: "delete-icon")
    / = link_to timeline_path(creator) do
    = link_to users_path do
      = image_for(creator, options = { img_class: "md-img"})
    .info
      / = link_to "#{creator.name}", timeline_path(creator)
      .poster
        = link_to "#{creator.name}"
        - unless creator == post.receiver
          %span= ">"
          / = link_to "#{post.receiver.name}",timeline_path(post.receiver.name)
          = link_to "#{post.receiver.name}"

      = format_datetime(post.created_at)

    %p= post.content

    .post-like
      = render "likes/like_link", likeable_id: post.id, likeable_type: "Post"

  - likes = post.likes.count
  - if likes > 0
    .post-likers= post_likers(post, likes)

  = render post.comments.order(created_at: :asc)

  - if current_user == post.creator || current_user == post.receiver || current_user.friends_with?(post.creator) || current_user.friends_with?(post.receiver)
    = render template: "comments/new", locals: {post: post}
