- user = (@profile && @profile.user) || User.find(@receiver_id)

.profile-banner
  .banner-top
    %span= link_to "#{user.name}", timeline_path(user)
    .friend-status{id: "friend-status-#{user.id}"}
      = display_friend_status_of(user)

  .banner-bottom
    %ul
      %li>= link_to "Timeline", timeline_path(user)
      - if access_level?(user, :public)
        %li>= link_to "About", profile_path(user.profile)
        %li
          = link_to friends_path(user, from: "profile") do
            %span Friends
            %span.friend-count= user.friends.count
  .profile-pic
    - if current_user == user
      = link_to edit_profile_path(user.profile) do
        = image_for(user, options = { img_class: "v-lg-img", title: "Update Profile Picture" })
    - else
      = link_to timeline_path(user) do
        = image_for(user, options = { img_class: "v-lg-img", title: "#{user.name}" })
