.main-header
  .header-holder
    = link_to newsfeed_path(current_user) do
      = image_tag "icon.png", alt: "Odinbook icon", class: "icon"
    .header-form
      = form_tag search_path, method: :get do
        = search_field_tag(:q, params[:q], placeholder: "Search Odinbook")
        = button_tag name: nil, class: "search-btn" do
          = image_tag "search-icon.png", class: "search-icon"
    .header-menu
      %ul
        %li>
          .header-profile{ title: "Profile" }
            = link_to timeline_path(current_user) do
              = image_for(current_user, options = { img_class: "v-sm-img" })
              %span= "#{current_user.first_name}"
        %li>= link_to "Home", newsfeed_path(current_user)
        %li>= link_to "Find Friends", find_friends_path(current_user)
        %li>
          = link_to notifications_path do
            = "Notifications"
            -if current_user.new_notifications?
              %span#new-notifications= current_user.new_notifications
        %li>= link_to "Log Out", destroy_user_session_path, method: :delete
