.sidebar-container
  .sm-profile
    / = link_to timeline_path(current_user) do
    = link_to users_path do
      = image_for(current_user, options = { img_class: "md-img"})
    .info
      / = link_to "#{current_user.first_name} #{current_user.last_name}", timeline_path(current_user)
      = link_to "#{current_user.first_name} #{current_user.last_name}"
      = link_to "Edit Profile"
  %ul
    %li= link_to "Newsfeed", newsfeed_path(current_user)
    %li= link_to "Timeline"
    %li= link_to "Friends", friends_path(current_user)
    %li= link_to "Profile"
    %li= link_to "All Users", users_path
    %li= link_to "Find Friends"
    %li= link_to "Privacy"
    %li= link_to "Notifications"
    %li= link_to "Log out"
    %li= link_to ""
    