<!DOCTYPE html>
%html
  %head
    %title Odinbook
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    %header= yield :header

    - if user_signed_in?
      .header-margin

    .main-container
      - if user_signed_in?
        .profile= yield(:profile) if content_for?(:profile)
        = render "layouts/flash"
        .info-container
          .sidebar>= yield(:sidebar) if content_for?(:sidebar)
          .content= yield
      - else
        = render "layouts/flash"
        = yield

    = debug(params) if Rails.env.development?
