<!DOCTYPE html>
%html
  %head
    %title Odinbook
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    %header= yield :header

    - if user_signed_in?
      .header-margin
    
    - if flash.any?
      - flash.each do |type, message|
        -# Don't display Devise's timedout flash message
        - unless message.blank? || type == 'timedout' || type == 'html_safe'
          .flash-holder
            .flash{class: "#{type}"}
              = message

    .main-container
      - if user_signed_in?
        .profile= yield(:profile) if content_for?(:profile)
        .info-container
          .sidebar>= yield(:sidebar) if content_for?(:sidebar)
          .content= yield
      - else
        = yield

    = debug(params) if Rails.env.development?
