<!DOCTYPE html>
%html
  %head
    %title Odinbook
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    = yield :header
    
    - if flash.any?
      - flash.each do |type, message|
        -# Don't display Devise's timedout flash message
        - if type != 'timedout'
          .flash-holder
            .flash{class: "#{type}"}
              = message

    = yield

    = debug(params) if Rails.env.development?
